<section class="hero is-halfheight">
  <div class="hero-body">
    <div class="container is-max-desktop box has-background-info-light">
      <%=render @commentable%>
      
      <%= render 'form', commentable: @commentable%>
    </div>
  </div>
</section>