<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container is-max-desktop box has-background-info-light">
      <%= render 'form'%>
    </div>
  </div>
</section>
