<div class="columns">
  <div class="column is-3">
  <div class="columns">
    <div class="column is-four-fifths container">
      <%= render "users/user_resume", user: current_user%>
    </div>
  </div>
    
  </div>
  
  <div class="column is-6">
    <div class="columns my-2">
      <div class="column is-offset-one-fifth is-three-fifths box">
        <%= render 'form'%>
      </div>
    </div>
    <div class="container">
      <%= render @posts%>
    </div>
  </div>
  
  <div class="column is-3">
    <article id="notification_user" class="message is-info box mt-6 mx-3">
      <div class="message-header">
        <p>Notifications:</p>
      </div>
      <div class="message-body">
        <% if current_user.friend_requests_as_receiver.any? %>
          <% current_user.friend_requests_as_receiver.each do |request|%>
            <%= render 'friend_requests/notification_request', :request => request%>
          <% end %>
        <% else %>
          <div class="container">
            <p class="has-text-centered">No notifications.</p>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</div>

         
         
        