<div class="columns">
  <div class="column is-3">
  <div class="columns">
    <div class="column is-four-fifths container">
      <%= render "users/user_resume", user: current_user%>
    </div>
  </div>
    
  </div>
  
  <div class="column is-6 has-background-warning">
    POST
  </div>
  
  <div class="column is-3 has-background-danger">
    <% current_user.friend_requests_as_receiver.each do |request|%>
      <%= request.requestor.full_name %>
      <%= link_to "Accept", friend_request_path(request), method: :put %>
      <%= link_to "Decline", friend_request_path(request), method: :destroy,  data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
