<div class="columns">
  <div class="column is-3">
  <div class="columns">
    <div class="column is-four-fifths container">
      <%= render "users/user_resume", user: current_user%>
    </div>
  </div>
    
  </div>
  
  <div class="column is-6 has-background-warning">
    POST
  </div>
  
  <div class="column is-3 has-background-danger">
    NOTIFICATIONS
  </div>
</div>
